.grid{
    display: grid;
    
   
  
}
.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);

 
 
}
.enroll-students{
    height: 10rem;
    width: auto;
   

}
.section-heading {
  font-size: 4.5rem;
  font-weight: bold;
  text-transform: capitalize;
  padding: 1rem 0;
}
.section-sub--heading{
    font-size: 2rem;
    font-weight: bold;
    color: black;
}
p{
     font-size: 2rem;
        color: #e5e5e5;
       padding-bottom: 2rem;
}


.card-about{

    text-align: center;
    height: 20rem;
    width: 30rem;
    margin: 5rem 2rem;
    padding: 2rem 1.5rem;
    background-color: #ffffff;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   border-radius: 10px;
   &:hover{
      scale: 1.1;
      transition: 0.5s;
   }
   & p{
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #050505;
   }
  }


  /* end enroll card */

  /* dashcard */

  .dash-card-students{
    margin-top: 3rem;
  
   & .grid{
    gap: 2rem;
 
  
   }
  & .dash-card {
             display: flex;
             align-items: center;
             justify-content:space-around;
             gap: 1rem;
             width: 29.3rem;
             height: 10rem;
             border-radius: 10px;
    }
    & .dash-card-subheading{
        font-size: 2rem;
    }
    & .dash-section-heading{
        color: #ffffff;
        font-size: 2rem;
        margin-top: -10px;
    }
  }
  .dash-topic{
    margin-left: 50px;
  }
  /* dash- card */

  /* end -dashcard */

  /* quiz card start  */
  .Generate-Quiz{
  &.grid{
  
  }
& .topic-card{
 
  
  
  & .topic-card-content{
    margin-top: 20px;
    padding:1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
     
   
&:hover{
     border: 1px solid blue;
   }    
   }
  & .topic-card-heading{
    font-weight: bold;
    color: black;
    font-size: 2rem;
  }
  & p{
    color: #000;
    font-size: 2rem;
    
  }
  & h3{
    color:rgb(143, 139, 139);
    font-weight: 300;
    font-size: 1.4rem;
  }
}
}

/* end topic card selection */

/* select subject */
.select-subject{

  margin-top: 35px;
  margin-left: -120px;
 
& .subject-button{
  background-color: white;
   box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 4px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
& span{
  color: #000;
  font-weight: 100;
  font-size: 1.5rem;
}

 
}
/* select end subject */
/* pop up select subject */
.popup-overlay-subject {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 310px;
  left: 64%;
}

/* Popup box */

.popup-content-subject {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
 
  width: 300px;
  height: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
  & .generate-quiz{
     margin-top: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
  }
  & h3{
   margin: 10px;
   font-weight: bold;

  }
}

.popup-content button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.popup-content button:hover {
  background: #1d4ed8;
} 
/* pop up end select subject */

/* section -generated quizz */
.section-Generatedquiz{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & .section-about{
    margin-top: 0px;
  } 
  &.progressbar{
    margin-left: 100px;
  }
  & .timer-back{
    margin: 50px 0;
    width: 100rem;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: spa;
   
  }
  & .section-heading{
    font-size: 4rem;
    color: red;
  }
  & .quenstion-options{
    width: 100rem;
    padding:20px;
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  & .options{
    width: 80%;
  
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 10px;
    & .btn{
         background-color: white;
   box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 4px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
    }
    & .btn:hover{
      background-color: #1d4ed8;
      color: white;
    }
  }
}
/* section end  -generated quizz */